<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" >
  <title>Идиомы</title>
</head>
<body style='background-color:#d9d6e7;'>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><em>Кафедра иностранных языков предуниверситетского лицея при НИЯУ МИФИ 1523</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/index">Главная</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/teachers">Учителя <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item active">
     <a class="nav-link" href="/advices">Советы</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/timetable">Расписание</a>
   </li>
 </ul>
    {% if session['username'] %}
    <div style="position: absolute; right: 100px;">
  <img src="{{ url_for('static', filename='images/user.png') }}" width="30" height="30">
    <a href="profile" style="color: white; text-decoration: underline; display: inline;">
        {{ session['username'] }}</a>
    </div>
        <a class="btn btn-secondary" href="logout" role="button" style="position: absolute; right: 15px; display: inline;">Выйти</a>
    {% else %}
  <a class="btn btn-secondary" href="login" role="button"style="position: absolute; right: 15px; display: inline;">Войти</a>
    {% endif %}
</div>
</nav>



  <div class="container">
    <div class="text-center">
      <h2 align="center" style="padding:20px;">САМЫЕ РАСПРОСТРАНЁННЫЕ ИДИОМЫ</h2>
      <h5><em>Изучая английский язык, со временем возникает вопрос пополнения словарного запаса устойчивыми выражениями
         - идиомами английского языка. Здесь вы найдете сборник английских идиом с русским переводом.</em></h5>
      <img src="{{ url_for('static', filename='images/sky.jpg') }}" style="width:400px; height:200px;">
    <div class="row">
      <table class="table">
    <thead class="bg-secondary">
      <tr>
        <th>Идиома</th>
        <th>Значение</th>
        <th>Применение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A blessing in disguise</td>
        <td>Хорошее дело, казавшееся плохим на первый взгляд</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
        <td>A dime a dozen</td>
        <td>Что-то простое, распространённое</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
        <td>Beat around the bush</td>
        <td>Избегать говорить прямо, как правило, потому что это доставляет неудобства</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
        <td>Get out of hand</td>
        <td>Выйти из-под контроля, потерять управление</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
        <td>Get something out of your system</td>
        <td>Сделать давно задуманное, чтобы двигаться дальше</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
        <td>Get your act together</td>
        <td>Работай лучше или оставь дело</td>
        <td>Cамостоятельно</td>
      </tr>
      <tr>
        <td>Give someone the benefit of the doubt</td>
        <td>Поверить на слово</td>
        <td>Как часть предложения</td>
      </tr>
      <tr>
          <td>Cut somebody some slack</td>
          <td>Не быть слишком критичным</td>
          <td>Как часть предложения</td>
        </tr>
        <tr>
          <td>Cutting corners</td>
          <td>Делать что-либо неважно с целью сэкономить время или деньги</td>
          <td>Как часть предложения</td>
        </tr>
        <tr>
          <td>Easy does it</td>
          <td>Сбавить темп, делать что-либо медленнее</td>
            <td>Cамостоятельно</td>
          </tr>
          <tr>
            <td>Get out of hand</td>
            <td>Выйти из-под контроля, потерять управление</td>
            <td>Как часть предложения</td>
          </tr>
          <tr>
            <td>Get something out of your system</td>
            <td>Сделать давно задуманное, чтобы двигаться дальше</td>
            <td>Как часть предложения</td>
          </tr>
          <tr>
            <td>Get your act together</td>
            <td>Работай лучше или оставь дело</td>
            <td>Cамостоятельно</td>
          </tr>
        <tr>
          <td>Go back to the drawing board</td>
          <td>Начать сначала</td>
          <td>Как часть предложения</td>
        </tr>
        <tr>
          <td>Hang in there</td>
          <td>Не сдавайся</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>Miss the boat</td>
          <td>Слишком поздно</td>
          <td>Как часть предложения</td>
        </tr>
        <tr>
          <td>No pain, no gain</td>
          <td>Необходимо работать, чтобы получить желаемое</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>Speak of the devil</td>
          <td>Объявился тот, о ком мы говорили.</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>That's the last straw</td>
          <td>Моё терпение закончилось</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>Time flies when you're having fun</td>
          <td>Когда весело, время летит незаметно</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>We'll cross that bridge when we come to it</td>
          <td>Давай не будем прямо сейчас говорить об этой проблеме</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>You can say that again</td>
          <td>Это правда, согласен</td>
          <td>Cамостоятельно</td>
        </tr>
        <tr>
          <td>Your guess is as good as mine</td>
          <td>Понятия не имею</td>
          <td>Cамостоятельно</td>
        </tr>

    </tbody>
  </table>
</div>

</body>
</html>
