<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TEACHERS.css') }}" >
  <title>Неправильные глаголы</title>
</head>
<body style='background-color:#d9d6e7;'>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><em>Кафедра иностранных языков предуниверситетского лицея при НИЯУ МИФИ 1523</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/index">Главная</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/teachers">Учителя <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item active">
     <a class="nav-link" href="/advices">Советы</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/timetable">Расписание</a>
   </li>
 </ul>
    {% if session['username'] %}
    <div style="position: absolute; right: 100px;">
  <img src="{{ url_for('static', filename='images/user.png') }}" width="30" height="30">
    <a href="profile" style="color: white; text-decoration: underline; display: inline;">
        {{ session['username'] }}</a>
    </div>
        <a class="btn btn-secondary" href="logout" role="button" style="position: absolute; right: 15px; display: inline;">Выйти</a>
    {% else %}
  <a class="btn btn-secondary" href="login" role="button"style="position: absolute; right: 15px; display: inline;">Войти</a>
    {% endif %}
</div>
</nav>




<div class="container">
  <div class="row">
    <h2 align="center"><em>Топ 30 часто употребляемых неправильных глаголов</em></h2>

    <div class="blog-post">


      <p style:"text-indent=20px;
   }>Изучение английских неправильных глаголов начинается еще на ранних этапах обучения английскому языку.
         Понемногу, по 10-20 слов, мы расширяем свою коллекцию irregular verbs до более серьезного уровня.
         И уже первые 50 самых распространенных глаголов охватывают 87%
         всех случаев употребления неправильных глаголов в английском языке.</p>
      <hr>
      <p> Всего в английском насчитывается около 470 неправильных глаголов,
         но – о, счастье! – большинство из них устарело и в наше время не употребляется.
         Начинающим изучать английский язык вполне достаточно выучить 50 неправильных глаголов во всех трех формах,
          а именно – глагол в настоящем времени, в прошедшем времени и причастие прошедшего времени.</p>

      <p>Мы же хотим представить вам подборку из наиболее частоупотребляемых 30.</p>

      <div class="container">
        <div class="text-center">
        <div class="row">
          <table class="table">
            </div>
        <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Английское слово</th>
      <th scope="col">2-ая форма глагола</th>
      <th scope="col">3-я форма глагола</th>
      <th scope="col">Перевод на русский</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">1</th>
      <td>be(am, is, are)</td>
      <td>was/were</td>
      <td>been</td>
      <td>Быть</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>go</td>
      <td>went</td>
      <td>gone</td>
      <td>Идти</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>see</td>
      <td>saw</td>
      <td>seen</td>
      <td>Видеть</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>say</td>
      <td>said</td>
      <td>said</td>
      <td>Говорить</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>get</td>
      <td>got</td>
      <td>got</td>
      <td>Получать</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>do</td>
      <td>did</td>
      <td>done</td>
      <td>Делать</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>make</td>
      <td>made</td>
      <td>made</td>
      <td>Делать</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>come</td>
      <td>came</td>
      <td>come</td>
      <td>Прийти</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>tell</td>
      <td>told</td>
      <td>told</td>
      <td>Говорить(кому-то)</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>have</td>
      <td>had</td>
      <td>had</td>
      <td>Иметь</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>understand</td>
      <td>understood</td>
      <td>understood</td>
      <td>Понимать</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>eat</td>
      <td>ate</td>
      <td>eaten</td>
      <td>Есть</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>drink</td>
      <td>drank</td>
      <td>drunk</td>
      <td>Пить</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>speak</td>
      <td>spoke</td>
      <td>spoken</td>
      <td>Говорить</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>read</td>
      <td>read</td>
      <td>read</td>
      <td>Читать</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>write</td>
      <td>wrote</td>
      <td>written</td>
      <td>Читать</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>give</td>
      <td>gave</td>
      <td>given</td>
      <td>Дать</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>take</td>
      <td>took</td>
      <td>taken</td>
      <td>Брать</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>buy</td>
      <td>bought</td>
      <td>bought</td>
      <td>Купить</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>feel</td>
      <td>felt</td>
      <td>felt</td>
      <td>Чувствовать</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>think</td>
      <td>thought</td>
      <td>thought</td>
      <td>Думать</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>bring</td>
      <td>brought</td>
      <td>brought</td>
      <td>Приносить</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>know</td>
      <td>knew</td>
      <td>known</td>
      <td>Знать</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>forget</td>
      <td>forgot</td>
      <td>forgotten</td>
      <td>Забывать</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>pay</td>
      <td>paid</td>
      <td>paid</td>
      <td>Платить</td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>break</td>
      <td>broke</td>
      <td>broken</td>
      <td>Ломать</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>find</td>
      <td>found</td>
      <td>found</td>
      <td>Находить</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>meet</td>
      <td>met</td>
      <td>met</td>
      <td>Встречать</td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>become</td>
      <td>became</td>
      <td>become</td>
      <td>Становиться</td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td>put</td>
      <td>put</td>
      <td>put</td>
      <td>Положить</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
