<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TEACHERS.css') }}" >
</head>
<body style='background-color:#d9d6e7;'>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><em>Кафедра иностранных языков предуниверситетского лицея при НИЯУ МИФИ 1523</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/index">Главная</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/teachers">Учителя <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item active">
     <a class="nav-link" href="/advices">Советы</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/timetable">Расписание</a>
   </li>
 </ul>
    {% if session['username'] %}
    <div style="position: absolute; right: 100px;">
  <img src="{{ url_for('static', filename='images/user.png') }}" width="30" height="30">
    <a href="profile" style="color: white; text-decoration: underline; display: inline;">
        {{ session['username'] }}</a>
    </div>
        <a class="btn btn-secondary" href="logout" role="button" style="position: absolute; right: 15px; display: inline;">Выйти</a>
    {% else %}
  <a class="btn btn-secondary" href="login" role="button"style="position: absolute; right: 15px; display: inline;">Войти</a>
    {% endif %}
</div>
</nav>

<div class="container">
  <div class="text-center">
    <h2 align="center" style="padding:30px;">Топ 25 самых популярных английских глаголов с переводом и транскрипцией</h2>
    <h4><em>Цель в изучении английского языка играет решающую роль.
       Именно она заставляет нас проводить свободное время наедине с обучающим материалом, а не в шумной компании друзей.
        А если у цели есть еще и временные рамки,
         мы можем творить чудеса и осваивать огромные объемы информации в кратчайшие сроки</em>.</h4>
  </div>
  <img src="{{ url_for('static', filename='images/verbs.jpg') }}" style="width:1100px; height:325px; padding:40px;">
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Английское слово</th>
      <th scope="col">Прошедшее время</th>
      <th scope="col">Перевод на русский</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">1</th>
      <td>be [bi:] (am, is, are)</td>
      <td>was [wɔz], were [wз:]</td>
      <td>быть</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>have [hæv]</td>
      <td>had [hæd]</td>
      <td>иметь</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>do [du:]</td>
      <td>did [did]</td>
      <td>делать</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>say [sei]</td>
      <td>said [sed]</td>
      <td>говорить</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>go [gou]</td>
      <td>went [went]</td>
      <td>идти</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>can [kæn]</td>
      <td>could [kud]</td>
      <td>мочь; уметь</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>look [luk]</td>
      <td>looked [lukt]</td>
      <td>смотреть</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>know [nəu]</td>
      <td>knew [nju:]</td>
      <td>знать</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>get [get]</td>
      <td>got [gɔt]</td>
      <td>получать</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>come [kʌm]</td>
      <td>came [keim]</td>
      <td>приходить</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>see [si:]</td>
      <td>saw [sɔ:]</td>
      <td>видеть</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>will [wil]</td>
      <td>would [wud]</td>
      <td>вспомогательный глагол, завещать</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>think [θiŋk]</td>
      <td>thought [θɔ:t]</td>
      <td>думать</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>make [meik</td>
      <td>made [meid]</td>
      <td>делать, изготавливать</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>want [wɔnt]</td>
      <td>wanted [wɔntid]</td>
      <td>хотеть</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>turn [tз:n]</td>
      <td>turned [tз:nd]</td>
      <td>поворачиваться, вращаться</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>seem [si:m]</td>
      <td>seemed [si:md]</td>
      <td>казаться</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>call [kɔ:l]</td>
      <td>called [kɔ:ld]</td>
      <td>звонить, звать</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>ask [a:sk]</td>
      <td>	asked [a:skt]</td>
      <td>спрашивать</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>shall [ʃæl]</td>
      <td>should [ʃud]</td>
      <td>вспомогательный глагол</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>let [let]</td>
      <td>let [let]</td>
      <td>позволять</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>take [teik]</td>
      <td>took [tuk]</td>
      <td>брать, взять</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>tell [tel]</td>
      <td>told [tould]</td>
      <td>рассказывать</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>like [laik]</td>
      <td>liked [laikt]</td>
      <td>любить, нравится</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>may [mei]</td>
      <td>might [mait]</td>
      <td>мочь</td>
    </tr>


  </tbody>
</table>

  </div>
</div>

</body>
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
