<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TEACHERS.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body style='background-color:#d9d6e7;'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><em>Кафедра иностранных языков предуниверситетского лицея при НИЯУ МИФИ 1523</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/index">Главная</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/teachers">Учителя <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/advices">Советы</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/timetable">Расписание</a>
   </li>
 </ul>
    {% if session['username'] %}
    <div style="position: absolute; right: 100px;">
  <img src="{{ url_for('static', filename='images/user.png') }}" width="30" height="30">
    <a href="profile" style="color: white; text-decoration: underline; display: inline;">
        {{ session['username'] }}</a>
    </div>
        <a class="btn btn-secondary" href="logout" role="button" style="position: absolute; right: 15px; display: inline;">Выйти</a>
    {% else %}
  <a class="btn btn-secondary" href="login" role="button"style="position: absolute; right: 15px; display: inline;">Войти</a>
    {% endif %}
</div>
</nav>

  <style>
      #name {
          position: center; left: 50%;
          -webkit-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
          font-style: italic;
      }
  </style>
  <p> "Красная неделя"/"Зеленая неделя"</p>
    <div class="text-center">
    <h2 class='my'><em>{{ full_name }}</em></h2>
  </div>

    <!-- Table generation -->
  <form method="post">
  <div class="row">
    <table class="table" style="width: 80%; text-align: center; margin: auto;">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
        {% for day in week_days %}
    <tr>
        <!-- row generation -->
      <th scope="row">{{ day }}</th>
        {% for number in range(1, 5) %}
        <td>
            <!-- red_week generation -->
            <input type="text" value="{{ data[day][number]['red_week'] }}" name="{{ session['user_id'] }}-{{ day }}-{{ number }}-red_week" size="3">
            /
            <!-- green_week generation -->
            <input type="text" value="{{ data[day][number]['green_week'] }}" name="{{ session['user_id'] }}-{{ day }}-{{ number }}-green_week" size="3">
        {% endfor %}
    </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
      <!-- button for submit -->
    <input class="btn btn-secondary" type="submit" value="Сохранить изменения" style="   display:block;
   position: relative; margin: 15px auto;">
    </form>
</body>
</html>