<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TEACHERS.css') }}" >

</head>
<body style='background-color:#d9d6e7;'>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><em>Кафедра иностранных языков предуниверситетского лицея при НИЯУ МИФИ 1523</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/index">Главная</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/teachers">Учителя <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/advices">Советы</a>
   </li>
   <li class="nav-item active">
     <a class="nav-link" href="/timetable">Расписание</a>
   </li>
 </ul>
    {% if session['username'] %}
    <div style="position: absolute; right: 100px;">
  <img src="{{ url_for('static', filename='images/user.png') }}" width="30" height="30">
    <a href="profile" style="color: white; text-decoration: underline; display: inline;">
        {{ session['username'] }}</a>
    </div>
        <a class="btn btn-secondary" href="logout" role="button" style="position: absolute; right: 15px; display: inline;">Выйти</a>
    {% else %}
  <a class="btn btn-secondary" href="login" role="button"style="position: absolute; right: 15px; display: inline;">Войти</a>
    {% endif %}
</div>
</nav>

<div class="container">
  <h2><em>Расписание учителей действующее с 9 января 2019 года</em></h2>
  <p> "Красная неделя"/"Зеленая неделя"</p>
</div>
<div class="container">
  <div class="text-center">
    <h2 class='my'><em>Арефьева Ирина Геннадьевна</em></h2>
  </div>
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
    <tr>
      <th scope="row">Понедельник</th>
      <td>9P2/ОГЭ</td>
      <td>8П2/8П2</td>
      <td>8П1/8П1</td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td>ОГЭ/9П1</td>
      <td>9О1/9О1</td>
      <td>9О2/9О2</td>
      <td>9П2/9О2</td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td>8П1/9П1</td>
      <td>8П2/9П2</td>
      <td>9П1/9О1</td>
      <td>9Р1/9О2</td>
    </tr>
    <tr>
      <th scope="row">Суббота</th>
      <td>9Р2/9Р2</td>
      <td>9Р1/9Р1</td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <h2 class='my'><em>Савушкина Елена Викторовна</em></h2>
  </div>
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">Понедельник</th>
      <td>11H2/10H2</td>
      <td>10O1/10O1</td>
      <td>10O2/10O2</td>
      <td>11H1/10П1</td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td>10О1/11О1</td>
      <td>10О2/<strong>---</strong></td>
      <td>11О1/11Н1</td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td>10Н1/9П2</td>
      <td>11О2/11О2</td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td>10Н2/11Н1</td>
      <td>10П1/10П1</td>
      <td>10П2/10П2</td>
      <td>11Н2/11Н2</td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td><strong>---</strong>/11О1</td>
      <td>10Н1/<strong>---</strong></td>
      <td><strong>---</strong>/11Н1</td>
      <td><strong>---</strong>/11О2</td>
    </tr>
    <tr>
      <th scope="row">Суббота</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
      </tbody>
    </table>
  </div>


  <div class="text-center">
    <h2 class='my'><em>Смирнова Вера Анатольевна</em></h2>
  </div>
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">Понедельник</th>
      <td>9M2/10П3</td>
      <td>9М1/9M1</td>
      <td><strong>---</strong>/9M2</td>
      <td><strong>---</strong>/11М1</td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td>9Н1/<strong>---</strong></td>
      <td>10П3/10П3</td>
      <td><strong>---</strong>/9Н2</td>
      <td>9Н2/11М2</td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td>11М1/11М1</td>
      <td>9Н1/9Н1</td>
      <td>11М2/11М2</td>
      <td><strong>---</strong>/9Н2</td>
    </tr>
    <tr>
      <th scope="row">Суббота</th>
      <td><strong>---</strong>/9М1</td>
      <td><strong>---</strong>/9М2</td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
      </tbody>
    </table>
  </div>



  <div class="text-center">
    <h2 class='my'><em>Череповская Анастасия Сергеевна</em></h2>
  </div>
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">Понедельник</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td><strong>---</strong>/8Р1</td>
      <td>10М2/11П2</td>
      <td>11П2/8Р2</td>
      <td>10М1/10Р1</td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/11П2</td>
      <td>11П1/11П1</td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td>10Р2/10Р2</td>
      <td>10М1/10М1</td>
      <td>10Р1/10Р1</td>
      <td>10М2/10М2</td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td>11П1/<strong>---</strong><strong>---</strong></td>
      <td><strong>---</strong>/10Р2</td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Суббота</th>
      <td>8Р1/8Р1</td>
      <td>8Р2/8Р2</td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
      </tbody>
    </table>
  </div>



  <div class="text-center">
    <h2 class='my'><em>Фокин Иван Денисович</em></h2>
  </div>
  <div class="row">
    <table class="table">
  <thead class="bg-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">8.45-10.30</th>
      <th scope="col">10.40-12.20</th>
      <th scope="col">13.00-14.40</th>
      <th scope="col">14.50-16.30</th>
    </tr>
  </thead>
  <body>
    <tr>
      <th scope="row">Понедельник</th>
      <td>8О1/<strong>---</strong></td>
      <td><strong>---</strong>/8M2</td>
      <td>8М2/<strong>---</strong></td>
      <td>8О2/11Р2</td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td>8О2/<strong>---</strong></td>
      <td>11Р1/11Р1</td>
      <td>8М2/8О2</td>
      <td>8О1/О1</td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td>8Н2/<strong>---</strong></td>
      <td>8Н1/8Н1</td>
      <td>8М1/8Н2</td>
      <td>11Р1/<strong>---</strong></td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td>8М1/<strong>---</strong></td>
      <td>8Н2/8М1</td>
      <td>11Р2/<strong>---</strong></td>
      <td>8Н1/11Р2</td>
    </tr>
    <tr>
      <th scope="row">Суббота</th>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
      <td><strong>---</strong>/<strong>---</strong></td>
    </tr>
      </tbody>
    </table>
  </div>





</div>

</body>
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
